@import "tailwindcss";

@theme {
  --font-serif: "Libre Baskerville", serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-brand-primary: #0B3A5B;
  --color-brand-bg: #072A44;
  --color-brand-tech: #4FA3D1;
  --color-brand-icon: #7BB9DD;
  --color-brand-accent: #F28C28;
  --color-brand-accent-secondary: #D8751F;
  --color-brand-white: #FFFFFF;
}

body {
  @apply font-serif bg-brand-bg text-brand-white;
}

.font-sans {
  @apply font-sans;
}

/* Estilos para el progreso de lectura */
#progress-bar {
  transition: width 0.1s ease-out;
}
